.ourmenu__div{
    text-align: center;
    text-transform: uppercase;
}

.ourmenu__div h4{
    color: var(--tacobell-purple);
    font-size: 21px;
    padding-top: 48px;
    margin-bottom: 30px;
}

.ourmenu__div h3{
    font-size: calc(2vw + 2vh);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;
}

.menu__grid{
    display: grid; 
    grid-auto-flow: column; 
    padding: 40px 80px 40px 80px;
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 40px 20px; 
    grid-template-areas: 
      ". . ."
      ". . .";
    grid-auto-flow: row;
}

.menu__container{
    border-radius: 14px;
    width: 100%;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.menu__container:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 30px #000;
}

.menu__container p{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-block: 15px;
}

.image__responsive{
    width: 100%;
    border-radius: 14px;
}

@media screen and (max-width: 700px) {
    .menu__grid{
        display: grid; 
        grid-auto-flow: column; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 40px 0px; 
        grid-template-areas: 
            ". ."
            ". ."; 
    }
}