.ourmenu__div{
    text-align: center;
    text-transform: uppercase;
}

.ourmenu__div h4{
    color: var(--tacobell-purple);
    font-size: 21px;
    padding-top: 48px;
    margin-bottom: 30px;
}

.ourmenu__div h3{
    font-size: calc(2vw + 2vh);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;
}

.menu__grid{
    display: grid; 
    grid-auto-flow: column; 
    padding: 80px;
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 40px 0px; 
    grid-template-areas: 
      ". . ."
      ". . .";
    grid-auto-flow: row;
}

.menu__container p{
    font-size: 20px;
    fone-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.image__responsive{
    width: 90%;
    border-radius: 14px;
}