.ourlocation__container{
    position: relative;
    padding-inline: 50px;
    height: 35vw;
    background-image: url("./ourlocations images/Delhi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.ourlocation__content{
    position: absolute;
    bottom: 5%;
}

.ourlocation__info{
    margin-block: 20px;
}

.ourlocation__buttons button{
    width: 50px;
    height: 50px;
    border: 1.5px solid #000;
}

.ourlocation__interaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(89vw - 150px);
}

.ourlocation__360{
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    background-color: #000;
    padding: 11px 25px;
    text-align: center;
    border-radius: 25px;
}

@media screen and (max-width: 950px) {
    .ourlocation__interaction{
        width: 89vw;
    }
}