.Navbar__div{
    background-color: var(--navbar-background-color);
    color: var(--navbar-font-color);
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar__responsive-menu{
    width: 100vw;
    height: 100vh;
}

.Navbar__responsive-menu-list{
    font-size: 32px;
    text-align: center;
}

.Navbar__content{
    width: 150px;
    overflow: hidden;
}

/* Logo */
.Navbar__logo{
    padding: 20px;
}

.Navbar__list{
    width: 100%;
    transform: skew(0deg, -13deg);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 55px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}

.Navbar__item {
    background: var(--navbar-item-color);
    cursor: pointer;
    font-weight: 500;
    margin-block: 4px;
}

.Navbar__contact{
    list-style: none;
    display: flex;
    width: fit-content;
}

.Navbar__links{
    margin: 50px 15px 5px 0px;
}

@media screen and (min-width: 950px) {
    .Navbar__menu{
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .Navbar__content{
        display: none;
    }

    .Navbar__div{
        background-color: var(--navbar-background-color);
        color: var(--navbar-font-color);
        position: fixed;
        width: 100vw;
        height: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-block: 6px;
    }

    .Navbar__item {
        background: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: var(--navbar-item-color);
        border-style: solid none none solid;
    }    
    
    .Navbar__content{
        width: 150px;
    }

    ::-webkit-scrollbar{
        display: none;
    }
    
    .Navbar__contact{
        margin-inline: auto;
    }
}

@media screen and (max-width: 700px) {
    .Navbar__content{
        display: none;
    }

    ::-webkit-scrollbar{
        display: none;
    }

    .Navbar__item {
        background: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: var(--navbar-item-color);
        border-style: solid none none solid;
    }    

    .Navbar__contact{
        margin-inline: auto;
    }
}