.Navbar__div{
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.Navbar__div img{
    padding: 20px;
}

@font-face {
    font-family: 'Oswald';
    src: url(font/Oswald-VariableFont_wght.ttf);
}

.Navbar__list{
    width: 100%;
    transform: skew(0deg, -13deg);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 65px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}

.Navbar__item {
    background: #303030;
    font-family: 'Oswald';
    font-weight: 500;
    margin-block: 4px;
}

.Navbar__item{
    cursor: pointer;
}
