.slider{
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 150px);
}

.Banner__image {
    height: auto;
    width: calc(100vw - 150px);
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
.left-arrow {
position: absolute;
top: 50%;
left: 32px;
font-size: 3rem;
color: #000;
z-index: 10;
cursor: pointer;
user-select: none;
}

.slide {
opacity: 0.8;
transition-duration: 0.2s ease;
}

.slide.active {
opacity: 1;
transition-duration: 1s;
}

@media screen and (max-width: 950px) {
    .Banner__image{
        width: 100vw;
    }
}