.slider {
    height: auto;
    width: calc(100vw - 150px);
    overflow: hidden;
}

.slides{
    width: 400%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    transition: 0s;
}

.first {
    margin-left: calc((100vw - 150px) * 0);
}

.slide img{
    height: auto;
    width: calc(100vw - 150px);
}

@media screen and (max-width: 950px) {
    .slider{
        width: 100vw;
    }

    .slide img{
        width: 100vw;
    }

    .first {
        margin-left: calc(100vw * 0);
    }
}