.taconews__grid-right{
    width: calc(60vw - 150px);
    float: right;
    padding: 20px;
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 5% 5%; 
    grid-template-areas: 
        ". ."
        ". .";
    grid-auto-flow: row;
}

.taconews__grid-right *{
    padding-block: 5px;
}

.taconews__date{
    font-size: 13.5px;
    text-transform: uppercase;
    color: #333;
}

.taconews__photo{
    width: 100%;
    height: 15vw;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.taconews__photo:nth-child(1){
    background-image: url('./taconews images/ultimate-taco.png');
}

.taconews__photo:nth-child(2){
    background-image: url('./taconews images/Cheesyween.jpg');
}

.taconews__info a{
    font-size: 19px;
    text-decoration: none;
    color: #1B193B;
    transition: 0.2s;
}

.taconews__info a:hover{
    text-decoration: underline;
    color: #7124b4;
}