.taconews__header{
    text-align: center;
}

.taconews__container{
    height: 70vh;
    margin: 0 40px 40px 40px;
}

.taconews__title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.taconews__grid{
    text-align: left;
    display: grid; 
    grid-template-columns: 1.4fr 0.8fr 0.8fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."
    ". . ."; 
    height: 100%;
}