.footer__container{
    height: 80vh;
    background-color: black;
    color: #fff;
}

.footer__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #121212;
    height: 45%;
}

.footer__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title{
    font-size: clamp(17.5px, 2vw ,24px);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 10%;
    font-weight: 100;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.footer__title:hover{
    transform: scale(1.1);
    opacity: 1;
}

.footer__description{
    font-size: clamp(13px, 1.5vw, 19.5px);
}

.footer__link-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    height: 40%;
}

.footer__link-row *{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
    font-size: clamp(11px, 2vw, 20px);
}

.footer__link-row *:hover{
    transform: scale(1.1);
}