*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.Content{
  margin-left: 150px;
  width: calc(100vw - 150px);
}

body{
    height: 2000px;
}

:root{
    --tacobell-purple: #7124b4;
    --navbar-background-color: #000;
    --navbar-font-color: #fff;
    --navbar-item-color: #303030;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--tacobell-purple);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #401466;
  }